*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
:root{
    --bg-principal:#23232e;
    --bg-segundario:#101010;
    --detalhes:blueviolet;
    --txt-principal:aliceblue;
}

body::-webkit-scrollbar{
    width: 30px;
}
body::-webkit-scrollbar-track{
    background: var(--bg-segundario);
}
body::-webkit-scrollbar-thumb{
    background: var(--detalhes);
}
/* CABEÇALHO */
/* estrutura cabeçalho */
.conteinerCabecalho{
    background-color:#23232e;
    width: 100%;
    height: 100px;
    position: fixed;
}


@media screen and (max-device-width:780px){
.font{
    font-size: x-large;
    font-weight: bolder;
}
.conteudoGG{
    width:100%;
}
.cadastro{
    margin-top: 100px;
    width: 100%;
   
}
.float{
    float: left;
}
.btn{
    margin-top: 30px;
}
.tituloFale{
    width: 100%;
    font-weight: bolder;
    background-color: rgba(232, 224, 236, 0.442);
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding-top: 7px;
    height: 50px;
    text-align: center;
    margin: 30px;
    margin-left: 0px;
    font-size: xx-large;
}
  /* menu MOBILE */
#produtosDesk, .paginas, .conteinerMenuDesk,
.form, .btnOk, .inputs, .usuario,.senha{
    display: none;
}
.conteinerMenuMoba{
    width: 100%;
    height: inherit;
    position: fixed;
    
}
#iconeMenu{
    width: 90px;
    height: 90px;
    float: left;
    position: absolute;
    z-index: 9999;
    margin-top: -95px;
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
}
#menuMoba{
    width: 100%;
    margin-top: 0px;
    height: 100%;
    background-color:rgba(162, 0, 255, 0.842);
    position: fixed;
    z-index: 999 ;
    display: none;
}
.itemMenu{
    width: 100%;
    margin-top: 20px;
    height: 150px;
    font-weight: 900;
    text-align: center;
    color: white;
    list-style: none;
    font-size: 50px;
}

.logo>img{
    width: 190px;
    height: 90px;
    float: center;
    margin-top: 5px;
    /* background-image: url(../logo.png); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
}
.conteinerCabecalhomini{
    text-align: center;
}


.conteinerG{
    width: 100%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.ladoEsquerdo, .ladoDireito{
    width: 5%;
    height: auto;
    float: left;
}
.conteudoGG{
    width: 92%;
    height: auto;
    float: left;
    margin-left: 4%;
    margin-top: 4%;
}


/* produtos */
.produtosGG{
    width: 100%;
    height: auto;
    /* position: fixed; */
}
.produtosG{
    width: 99.39%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: auto;
    /* border: solid 2px black; */
    float: left;
    text-align: center;
}

#produtosMoba{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
td{
    max-width:100%;
    min-width: auto;
    font-size: 25px;
    max-height: 800px;
    min-height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.foto{
    width: 40vw;
    height: 28vh;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    border: var(--bg-segundario) 2px solid;
}
.detalhes{
    float: right;
    margin-left: 50%;
    margin-right: 10%;
    width: 33vw;
    height: 5vh;
    margin-bottom: 1vh;
    font-size: 25px;
    margin-top: 1vh;
    background-color: var(--detalhes);
    color: var(--txt-principal);
}
.rodape{
   width: 100%;
   margin-top: 20px;
   height: 100px; 
   background-color: var(--bg-principal);
   float: left;
   color:var(--txt-principal) ;
}
.sistema{
    float: left;
 margin-top: 20px;
 margin-left: 30px;
    width: 150px;
    height: 50px;
}
.appGG{
    float: right;
}
.appbtn{
    margin-right: 60px;
    margin-top: 20px;
    height: 50px;
    width: 150px;
}
.endereco{
    margin-left: auto;
    margin-right: auto;
}


body{

    background-image: url("../images/cadastroFundo.jpg");
} 

 /* Formulario Mobile */
 .linha{
    width: 99%;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: 55px;
}
.coluna-2{
    width: 90%;
    margin: 5%;
    float: left;
    height: inherit;
}
.coluna-3{
    width: 89%;
    margin: 5%;
    float: left;
    height: inherit;
}
label{
    float: left;
    color: var(--detalhes);
    font-weight: bolder;
    font-size: x-large;
}
input, select, textarea{
    width: 100%;
    margin: 30px;
    text-align: center;
    margin: 10px;
    height: 40px;
    float: right;
    border-radius: 20px;
    box-shadow: black black pink rgba(232, 224, 236, 0.942);
}
textarea{
    height: 80px;
}
.dt{
    height: 40px;
}
.enviar:hover{
    height: 70px;
    width: 100%;
    background-color: var(--bg-segundario);
    color:var(--txt-principal);
    font-size: large;
    transition: 500ms;
}

}

@media screen and (min-device-width:780px){
    body{
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: border-box;
        background-image: url("../images/cadastroFundo.jpg");
    }
 
    .conteinerMenuMoba{
        display: none;
    }

    .conteinerCabecalhomini{
        display: flex;
        background-color: #23232e;
        width: 1900px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
     
    }
    .logo>img{
        width: 150px;
        height: 70px;
        margin-top: 10px;
        float: left;
    }
    /* menu */
    .conteinerMenuDesk{
        width: 800px;
        height: 60px;
        margin-left: 30px;
        margin-right: 40px;
        float: left;
    }
    .itemMenu{
        width: 120px;
        height: 45px;
        float: left;
        background-color: #23232e;
        border-radius: 10px;
        margin: 10px;
        font-size: 20px;
        text-align: center;
        font-family: Arial;
        color: white;
        display: block;
        padding-top: 0px;
    }
    .itemMenu:hover{
        background-color: darkgray;
        color: black;
        cursor: pointer;
        transition: 1s;
        display: block;
        height: 50px;
        width: 150px;
        font-size: x-large;
    }
    /* login */
    .conteinerForm{
        width: 600px;
        height: 60px;
        float: left;
    }
    .inputs{
        width: 200px;
        height: 25px;
        float: left;
    }
    .usuario{
        float: left;
    }
    .senha{
        float: left;
        margin-left: 20px;
    }
    .btnOk{
        width: 40px;
        height: 30px;
        float: left;
        border-radius: 10px;
        margin-left: 25px;
        margin-top: 17px;
    }
    /* CONTEUDO */
    /* estrutura conteudo */
    .conteinerGG{
        width: 100%;
        height: auto;
    }
    .conteinerG{
        width: 1500px;
        height: auto;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
    .ladoEsquerdo .ladoDireito{
        width: 300px;
        height: auto;
        float: left;
    }
    .conteudoGG{
        width: 1500px;
        height: auto;
        float: left;
        margin-left: 100px;;
        margin-top: 100px;
    }
    .mostrafotos{
        width: 100%;
        height: 500px;
        float: left;
    }
    .imglateral{
        display: none;
    }
    
    .rodape{
       width:100%;

       height: 150px; 
       background-color: var(--bg-principal);
    }
    .sistema{
        float: left;
        margin-left: 60px;
        margin-top: 50px;
        width: 200px;
        height: 70px;
    }
    .appGG{
        float: right;
    }
    .appbtn{
        margin-right: 60px;
        margin-top: 50px;
        height: 70px;
        width: 190px;
    }
    .endereco{
        margin-left: 350px;
        margin-bottom: 170px;
    }
   
    /* sobre a empresa */
    
    .quem{
        width: inherit;
        float: left;
        height: 400px;
        background-color: var(--bg-segundario);
        color: var(--txt-principal);
    }
    h1{
        color: var(--detalhes);
    }
    .imagem-teste{
        float: left;
        width: 350px;
        height: 350px;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .cadastro{
        width: 100%;
        height: 700px;
    }
    .tituloFale{
        width: 100%;
        height: 40px;
        border-radius: 30px;
        margin: 30px;
        font-size: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgba(232, 224, 236, 0.442)
    }
    .form2{
        width: 70%;
        margin: auto;
    }
    .top{
        margin-top: 10px;
    }
    /* Formulario DESKTOP */
    .linha{
        width: 100%;
        height: 40px;
        align-items: center;
        justify-content: center;
        margin: 60px;
    }
    .coluna-2{
        width: 47%;
        margin: 1%;
        float: left;
        height: inherit;
    }
    .coluna-3{
        width: 30%;
        margin: 1%;
        float: left;
        height: inherit;
    }
    label{
        float: left;
        font-weight: bolder;
        font-size: large;
    }
    input, select, textarea{
        width: 100%;
        margin: 30px;
        text-align: center;
        margin: 10px;
        height: 40px;
        float: right;
        border-radius: 20px;
        box-shadow: black black pink rgba(232, 224, 236, 0.942);
    }
    textarea{
        height: 80px;
    }
    .dt{
        height: 40px;
    }
    .enviar:hover{
        height: 50px;
        width: 70%;
        margin-left: 35px;
        background-color: var(--bg-segundario);
        color: white;
        font-size: large;
        transition: 500ms;
    }
   
}