*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
:root{
    --bg-principal:#23232e;
    --bg-segundario:#101010;
    --detalhes:blueviolet;
    --txt-principal:aliceblue;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-image: url("../images/cadastroFundo.jpg");
}
body::-webkit-scrollbar{
    width: 30px;
}
body::-webkit-scrollbar-track{
    background: var(--bg-segundario);
}
body::-webkit-scrollbar-thumb{
    background: var(--detalhes);
}
/* CABEÇALHO */
/* estrutura cabeçalho */
.conteinerCabecalho{
    background-color:#23232e;
    width: 100%;
    height: 100px;
    position: fixed;
}
@media screen and (max-device-width:780px){
 /* menu MOBILE */
 #produtosDesk, .paginas, .conteinerMenuDesk,
 .form, .btnOk, .inputs, .usuario,.senha{
     display: none;
 }
 
h1, h3{
    text-align: center;
    font-size: 50px;
    color: rgba(255, 123, 0, 0.794);
}
h3{
    color: var(--bg-principal);
}
.texto{
    margin-top: -140px;
}
.texto>p, .texto2{
    background-color: rgba(262,220, 220, 0.242);
    margin: 6px;
    border-radius: 10px;
}
.slide{
    display: none;
}
.imagem{
    background-image: url(../images/fundo.png);
    width: auto;
    height: 400px;
    border: 70px transparent solid;
    background-repeat: no-repeat;
    background-size: contain;
}
 #iconeMenu{
     width: 90px;
     height: 90px;
     float: left;
     position: absolute;
     z-index: 9999;
     margin-top: -95px;
     background-image: url(../images/menu.png);
     background-repeat: no-repeat;
     background-position: center;
 }
 .conteinerMenuMoba{
    width: 100%;
    height: inherit;
    position: fixed;   
}
p{
    background-color: rgba(162, 0, 255, 0.242);
}
 #menuMoba{
     width: 100%;
     margin-top: 0px;
     height: 100%;
     background-color:rgba(162, 0, 255, 0.842);
     position: fixed;
     z-index: 999 ;
     display: none;
 }
 .itemMenu{
     width: 100%;
     margin-top: 20px;
     height: 150px;
     font-weight: 900;
     text-align: center;
     color: white;
     list-style: none;
     font-size: 50px;
 }
 
 .logo>img{
     width: 190px;
     height: 90px;
     float: center;
     margin-top: 5px;
     /* background-image: url(../logo.png); */
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: contain;
     background-position: center;
 }
 .conteinerCabecalhomini{
     text-align: center;
 }
 .conteinerG{
     width: 100%;
     height: auto;
     display: flex;
     margin-left: auto;
     margin-right: auto;
     align-items: center;
     justify-content: center;
 }
 .ladoEsquerdo, .ladoDireito{
     width: 5%;
     height: auto;
     float: left;
 }
 .redondinha{
     width: 100%;
     height: 90px;
    font-size: 40px;
     background-color: rgba(162, 0, 255, 0.842);
     border-radius: 50px;
     text-align: center ;
     align-items: center;
     justify-content: center;
     padding-top: 20px;

 }

 
 .conteudoGG{
     width: 92%;
     height: auto;
     float: left;
     margin-left: 4%;
     margin-top: 4%;
 }
 .imglateral>img{
     width: 44px;
     height: 44px;
 }

 .teste{
    background-image: url(../images/fundo2.jpg);
    width: auto;
    border-radius: 20px;
    width: auto;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
 }
 
 .rodape{
    width: 100%;
    height: 100px; 
    background-color: var(--bg-principal);
    float: left;
    color:var(--txt-principal) ;
 }
 .sistema{
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    width: 150px;
    height: 50px;
 }
 .appGG{
     float: right;
 }
 .appbtn{
     margin-right: 60px;
     margin-top: 20px;
     height: 50px;
     width: 150px;
 }
 .endereco{
     margin-left: auto;
     margin-right: auto;
 }
 
 
}


@media screen and (min-device-width:780px){
        /* menu DESKTOP */
.conteinerMenuMoba, #produtosMoba, .imgMobile{
    display: none;
}
        .conteinerCabecalhomini{
            display: flex;
            background-color: #23232e;
            width: 1900px;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            justify-content: center;
         
        }
        .teste{
            background-image: url(../images/fundo2.jpg);
            width: inherit;
            margin-top: 35px;
           width: auto;
           height: 500px;
            margin-left: 170px;
           background-repeat: no-repeat;
           background-size: contain;
        }
        
        .logo>img{
            width: 150px;
            height: 70px;
            margin-top: 10px;
            float: left;
        }
        /* menu */
        .conteinerMenuDesk{
            width: 800px;
            height: 60px;
            margin-left: 30px;
            float: left;
        }
        .itemMenu{
            width: 120px;
            height: 45px;
            float: left;
            background-color: #23232e;
            border-radius: 10px;
            margin: 10px;
            font-size: 20px;
            text-align: center;
            font-family: Arial;
            color: white;
            display: block;
            padding-top: 10px;
        }
        .itemMenu:hover{
            background-color: darkgray;
            color: black;
            height: 65px;
            cursor: pointer;
            transition: 1s;
            display: block;
        }
        h3{
            text-align: center;
            font-size: 22px;
        }
        p{
            font-size: 19px;
        }
        /* login */
        .conteinerForm{
            width: 600px;
            height: 60px;
            float: left;
        }
        .inputs{
            width: 200px;
            height: 25px;
            float: left;
        }
        .usuario{
            float: left;
        }
        .senha{
            float: left;
            margin-left: 20px;
        }
        .btnOk{
            width: 40px;
            height: 30px;
            float: left;
            border-radius: 10px;
            margin-left: 25px;
            margin-top: 17px;
        }
        /* CONTEUDO */
        /* estrutura conteudo */
        .conteinerGG{
            width: 100%;
            height: auto;
        }
        .conteinerG{
            width: 1500px;
            height: auto;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            justify-content: center;
        }
        .ladoEsquerdo .ladoDireito{
            width: 300px;
            height: auto;
            float: left;
        }
        .conteudoGG{
            width: 1500px;
            height: auto;
            float: left;
            margin-left: 100px;;
            margin-top: 100px;
        }
        .mostrafotos{
            width: 100%;
            height: 500px;
            float: left;
        }
        .imglateral{
            width: 100px;
            height: 100px;
            position: fixed;
            margin-top: 10px;
            margin-left: 20px;
        }
        
        .rodape{
           width: 100%;
           height: 200px; 
           background-color:var(--bg-principal);
        }
        .sistema{
            float: left;
            margin-left: 60px;
            margin-top: 50px;
            width: 200px;
            height: 70px;
        }
        .appGG{
            float: right;
        }
        .appbtn{
            margin-right: 60px;
            margin-top: 50px;
            height: 70px;
            width: 190px;
        }
        .endereco{
            margin-left: 350px;
            margin-bottom: 170px;
        }
        /* slider */
        img{
            max-width: 100%;
            vertical-align: middle;
            background-attachment: fixed;
            background-size: contain;
        }
        .slide{
            float: left;
            width: 100%;
            margin-top: 3px;
            margin-bottom: 1px;
            position: relative;
        }
        .slide_nav{
            position: absolute;
            left: 0;
            top:50%;
            margin-top: -50px;
            width: 100%;
        }
        .slide_nav_item{
            position: absolute;
            padding: 15px 20px;
            background: var(--bg-principal);
            color: var(--detalhes);
            z-index: 99;
            border-radius: 50%;
            font-weight: bold;
            font-size: 30px;
            font-family: monospace;
        }
        .slide_item{
            display: none;
        }
        .slide_nav_item:hover{
            background-color: var(--detalhes) ;
            color:var(--bg-principal);
            cursor: pointer;
        }
        .slide_nav_item.g{
            left: 10px;
        }
        .slide_nav_item.b{
            right: 10px;
        }
        .slide_item.primeiro{
            display: block;
        }
        /* sobre a empresa */
        
        .quem{
            width: inherit;
            float: left;
            height: 400px;
            background-color: var(--bg-segundario);
            color: var(--txt-principal);
        }
        h1{
            color: var(--detalhes);
            font-size: 30px;
        }
        .texto{
            font-size: 17px;
            justify-content: center;
            margin-left: 10px;
            margin-right: 10px;
        }
        .imagem-teste{
            float: left;
            justify-content: center;
            align-items: center;
            width: 350px;
            height: 350px;
            margin-left: 20px;
            margin-top: 20px;
            margin-right: 30px;
            margin-bottom: auto;
        }
        .imagem-fundo{
            float: left;
            width:inherit;
            align-items: center;
            justify-content: center;
            height: 500px;
            position: static;
            display: grid;
        }
        .conheca{
            float: left;
            width: inherit;
            height: 500px;
        }
        .titulo{
            text-align: center;
        }
        .redondinha{
            color: var(--txt-principal);
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            width: 1000px;
            height: 50px;
            border-radius: 80%;
            text-align: center;
            background-color: var(--bg-segundario);
        }
        .redondinha:hover{
            background-color: var(--bg-principal);
            color: var(--detalhes);
            cursor: pointer;
        }
        .final{
            margin-top: 240px;
        }
        .local, .outra{
            width: auto;
            height: 50px;
        }
        .local{
            float: left;
        }
        .outra{
            float: right;
        }
        .img{
            width: 50px;
            height: 50px;
            float: left;
            border: 1px solid var(--detalhes);
        }
}